{% extends 'base.html'%}


{% block title %}
APPLICATION
{% endblock %}

{% block content %}
<h1 class="text-center">APPLY YOUR LEAVE</h1>
<hr>
<p style="color: red;">NB: Do mention the FROM date and TO date in the reason field with the  number of dates mentioned in the brackets </p>
<div class="container w-50 text-center my-5">
<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <br>

    <button class ="btn btn-primary" type="submit">submit </button>
    <hr>
</form>
</div>
{% endblock %}